body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    width: 12%;
    height: 23%;
    animation:infinite alternate 1s changewidth;
}


@keyframes changewidth{

    from{
        width: 12%;
        height: 23%;
    }

    to{
        width: 23%;
        height: 12%;
    }
}