body{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image{
    width: 50%;
    position:absolute;
    animation: changewidth infinite alternate .4s;
}

.pfp{
    width: 12%;
    height: 23%;
    padding-top: 0;
    animation: 10s moveup;
}

.pfp-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.heart-container{
    width: 30%;
    padding: 5%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes moveup{
    from{
        padding-top: 80%;
    }
    to{
        padding-top: 0;
    }
}

@keyframes changewidth{

    from{
        width: 50%;
    }

    to{
        width: 20%;
    }
}